.password-container {
  width: 100%;
  position: relative;
}
.password-container .password-strength {
  text-align: center;
  font-size: 1em;
}
.weak-password {
  color: #ff2a2a;
}
.fa-eye-slash,
.fa-eye {
  position: absolute;
  top: 15px;
  right: 0.1em;
}
.fas:active {
  color: rgb(0, 0, 0);
}
.fa-eye-slash {
  color: rgba(0, 0, 0, 0.847);
}
