@import url("https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Cantarell", sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  margin-block-start: 0;
  margin-block-end: 0;
}
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
